body{
	background-image: url(/images/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100%;
	overflow: hidden;
}
canvas{
	width: 100%;
}
#player{
	img{
	width:20%;
	position: fixed;
	top:0px;
	left: 0px;
	}
}